@import url('https://fonts.googleapis.com/css2?family=Dancing%20Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Roboto:wght@100&display=swap');

.register {
    img {
        position: absolute;
        top: 89px;
        left: -17%;
        width: 85%;
        height: 85%;
    }

    h5 {
        font-family: "Dancing Script", sans-serif;
        position: absolute;
        left: 5.5%;
        top: 0%;
        font-weight: 1000px;
        font-size: 145px;
    }

    button2 {
        background-color: rgb(126, 199, 137);
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        width: 8%;
        position: absolute;
        left: 77%;
        top: 41px;
        font-weight: 100px;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
    }

    button2:hover {
        opacity: 0.8;
    }

    .title {
        h9 {
            position: absolute;
            top: 20%;
            left: 47.5%;
            font-size: 42.5px;
            font-weight: 400;
            color: black;
            font-family: 'Bebas Neue', sans-serif;
        }
    }

    .container {
        padding: 16px;
        width: 20%;
        position: absolute;
        font-family: 'Anton', sans-serif;
        font-weight: 100;
        left: 40%;
        top: 27%;
        font-size: 19px;
    
        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 10px;
            font-family: 'Anton', sans-serif;
        }
      
        button {
            background-color: #342b2b;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 10px;
        }
        
        button:hover {
            opacity: 0.8;
        }     
    }
}